.App {
  text-align: center;
  width: 100%; 
  margin: 0; 
  padding: 0; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
}

.App-header h1 {
  margin: 2rem 0; /* add some margin above and below the h1 element */
  color: #d2b93b; /* set the text color to orangered */
}

.App-link {
  color: #61dafb;
}

.App-businesses {
  background-color: white;
  width: 100%; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
