/*organize the business list in a grid*/
.BusinessList {
    display: flex;
    justify-content: center; /* center the business cards */ 
    flex-wrap: wrap; /* wrap the business cards */
    gap: 2rem; /* Add consistent gap between items */ 
    margin: 4.4rem 0; /* simplified margins , top and bottom */ 
}
